<header class="header">
  <div class="container">
    <nav class="menu">
      <a class="logo" href="#">
        <img src="./images/logo.svg" alt="logo">
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#">Преимущества</a>
        </li>
        <li class="menu__item">
          <a href="#">Шаги</a>
        </li>
        <li class="menu__item">
          <a href="#">Отзывы</a>
        </li>
        <li class="menu__item">
          <a href="#">Contact</a>
        </li>
      </ul>
      <div class="menu__navigate">
        <button class="btn">
          Инвестировать
        </button>
        <div class="btn menu__drop">
          En
        </div>
      </div>
    </nav>
  </div>
</header>
