.container {
  max-width: 1320px;
  margin-inline: auto;
  padding: 0 30px;
}

body {
  cursor: default;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

.btn {
  line-height: 24px;
  padding: 18px 24px;
  background-color: $accent;
  border-radius: 60px;
  color: $white;
  outline: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0052b9;
  }
}